body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
}
quill-editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
::ng-deep .ql-container {
  height: 95%;
  display: flex;
  flex-direction: column;
}
::ng-deep .ql-editor {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  width: 100% !important;
  overflow-y: auto !important;
}
